  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap');

  * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }

  body {
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: rgb(14, 144, 243);
  }



  button {
      background-color: rgb(14, 144, 243);
      padding: 5px;
      color: #fff;
      border-radius: 0 5px 5px 0;
  }

  h1 {
      text-align: center;
  }

  p {
      padding: 0 0 0 9px;
      font-weight: 500;
  }

  #container {
      background-color: #fff;
      height: 100%;
      padding: 5px 25px;
      border-radius: 5px;
      font-family: 'Roboto', sans-serif;
  }

  #item_list>input {
      /* padding: 5px 15px; */
      width: 130px;
      height: 60px;
      width: 245px;
      height: 29px;
      border-radius: 5px 0 0 5px;
  }

  #item_list {
      display: flex;
      padding: 5px 10px
  }

  #display,
  .display {
      display: flex;
      flex-direction: column;
      margin: 3px 0;
      display: none;
  }

  #display_item,
  .display_item {
      width: 130px;
      height: 60px;
      width: 245px;
      height: auto;
      background-color: rgb(14, 144, 243);
      color: #fff;
      border-radius: 5px;
      margin: 7px 0 0 10px;
      /* display: none; */
      word-break: break-all;
      padding: 7px;
      min-height: 29px;
  }


  .hide {
      display: none;
  }